<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">  
<title>绑定车牌</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="./mui.min.css">
<link rel="stylesheet" href="./bind-car.css">
<script src="./fastclick.js"></script>
<script>
    if ("addEventListener" in document) {
        document.addEventListener('DOMContentLoaded', function() {
            FastClick.attach(document.body);
        }, false);
    }
</script>
</head>
<body>
    <div class="tip-wrap">
        <p class="tit mb10">温馨提示:</p>
        <p class="mb10">1、绑定车牌为您的爱车线上缴费、省去排队找零的烦恼、快速出场；</p>
        <p>2、请确认绑定正确的车牌，不要替他人缴费哦！</p>
    </div>
    <div id="app">
        <div class="car-no display-flex ft20">
            <div v-for="(item, i) in carNo" @click="clickNo(i)" class="no-item flex1" :class="{'no-active': index == i, 'short-border': i != carNo.length - 1}">{{ item }}</div>
            
        </div>
        <div class="new-energy-wrap">
            <label @click="clickNewEnergy">
                <span v-model="seen" type="checkbox" class="new-energy" :class="{'checkedBg': seen, 'uncheckedBg': !seen}"></span>
                <span>新能源车牌</span>
            </label>
        </div>
        <div class="btn-submit">
            <a @click="submit" href="javascript:;" class="btn-primary">确认</a>
        </div>
        <div class="keyboard-wrap" :class="{'hide': !seenProvince}">
            <p class="keyboard-done">
                <span @click="closeKeyboard">确定</span>
            </p>
            <ul id="provinces" class="key-list">
                <li v-for="item in provinces" :title="item">
                    <button @click="clickKeyboard($event)">{{item}}</button>
                </li>
            </ul>
            <p title="取消" class="cancel">
                <a @click="delVal" href="javascript:void(0);" class="iconfont delete tc"></a>
            </p>
        </div>
        <div class="keyboard-wrap" :class="{'hide': !seenCarNo}">
            <p class="keyboard-done">
                <span @click="closeKeyboard">确定</span>
            </p>
            <ul id="provinces" class="key-list">
                <li v-for="(num, i) in carNumbers" :title="num" :class="{'pr': '字' === num}">
                    <button @click="clickKeyboard($event)" :disabled="(1 === index && i < 10) || (1 < index && (17 === i || 18 === i))">{{num}}</button>
                    <ul v-if="'字' === num" class="character" :class="{'hide': !seenCharacter}">
                        <li v-for="char in characters" :title="char">
                            <button @click="clickKeyboard($event)">{{char}}</button>
                        </li>
                    </ul>
                </li>
            </ul>
            <p title="取消" class="cancel">
                <a @click="delVal" href="javascript:void(0);" class="iconfont delete tc"></a>
            </p>
        </div>
    </div>

    <script src="./vue.min.js"></script>
    <script src="./mui.min.js"></script>
    <script src="./common.js"></script>
    <script>
        var provinces = "京,沪,浙,苏,粤,鲁,晋,冀,豫,川,渝,辽,吉,黑,皖,鄂,湘,赣,闽,陕,甘,宁,蒙,津,贵,云,桂,琼,青,新,藏,使";
        var carNumbers = "0,1,2,3,4,5,6,7,8,9,Q,W,E,R,T,Y,U,I,O,P,A,S,D,F,G,H,J,K,L,Z,X,C,V,B,N,M,字";
        var characters = "领,警,学,挂,港,澳,试,超";

        var app = new Vue({
            el: '#app',
            data: {
                index: -1,
                seen: false, // 新能源车
                carNo: ['', '', '', '', '', '', ''],
                seenProvince: false, // 显示省份键盘
                seenCarNo: false, // 显示车牌号键盘
                seenCharacter: false, // 显示字
                seenBg: false, // 显示按键点击效果
                provinces: provinces.split(','),
                carNumbers: carNumbers.split(','),
                characters: characters.split(',')
            },
            methods: {
                clickNo: function (index) { // 点击车牌
                    var that = this;
                    that.index = index;
                    if (0 === index) { // 显示省份键盘
                        that.seenProvince = true;
                        that.seenCarNo = false;
                    } else { // 显示车牌号键盘
                        that.seenProvince = false;
                        that.seenCarNo = true;
                    }
                },
                clickNewEnergy: function () {
                    var that = this;
                    that.seen = !that.seen;
                },
                clickKeyboard: function (event) { // 点击键盘
                    var that = this,
                        el = event.target,
                        val = el.innerText;
                    if (that.index < 0 || el.getAttribute('disabled')) {return;}
                    el.classList.add('btn');
                    setTimeout(function () {
                        el.classList.remove('btn');
                        if ('字' === val) {
                            if (that.seenCharacter) {
                                that.seenCharacter = false;
                            } else {
                                that.seenCharacter = true;
                            }
                            return;
                        }
                        that.seenCharacter = false;
                        Vue.set(that.carNo, that.index, val);
                        that.index += 1;
                        if (0 < that.index) { // 切换为车牌号键盘
                            that.seenProvince = false;
                            that.seenCarNo = true;
                        }
                        if (that.index > that.carNo.length - 1) { // 关闭键盘
                            that.index = -1;
                            that.closeKeyboard();
                        }
                    }, 100);
                    
                },
                closeKeyboard: function () { // 点击确定，关闭键盘
                    var that = this;
                    that.seenProvince = false;
                    that.seenCarNo = false;
                },
                delVal: function () { // 点击删除
                    var that = this;
                    if (that.carNo[that.index]) { // 有值，删除
                        Vue.set(that.carNo, that.index, '');
                    } else if(0 < that.index) { // 没值，往前回退一位
                        that.index -= 1;
                        Vue.set(that.carNo, that.index, '');
                        if (0 === that.index) { // 切换为省份键盘
                            that.seenProvince = true;
                            that.seenCarNo = false;
                        }
                    }
                },
                submit: function () { // 提交数据
                    var that = this,
                        carNoStr = that.carNo.join(''),
                        carNolen = carNoStr.length;
                    if ((!that.seen && 7 > carNolen) || (that.seen && 8 > carNolen)) {
                        mui.toast('请输入完整车牌号');
                        return;
                    }
                    console.log(carNoStr);
                    // ajax(url, {}, function () {});
                }
            },
            watch: {
                seen: function (val) { // 是否为新能源车
                    var that = this;
                    if (val) {
                        Vue.set(that.carNo, that.carNo.length, '');
                        that.index = that.carNo.length - 1;
                        that.seenProvince = false;
                        that.seenCarNo = true;
                    } else {
                        that.carNo.splice(that.carNo.length - 1);
                    }
                }
            }
        });
    </script>
</body>
</html>